<!--
Component :                             UI for creating a poll by the authorized users    
Author:                                 Sreedevi Koppula
Use of the component in system design:  Provides UI that is accessed by the users to create polls
Written and revised:                    11/11/2016
Reason for component existence:         Provides an interface for the user to create a poll in the system
Component usage of data structures, algorithms and control (if any): 
    The component displays the appropriate fields to the user to create a poll. The fields include: 
        Poll Heading, Poll Question, Poll Type (Public/private), Group Names (if poll type is private), Buttons 'Create Poll' and 'Cancel'
    The authorized user needs to fill all the fields and click on 'Create Poll' button to create the poll in the system
    The user can click on 'Cancel' button to cancel the poll creation
-->
<form>
    <div class="primary callout">
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Title <small>required</small>
                    <input type="text" placeholder="Title" ng-model="pollTitle"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Description <small>required</small>
                    <input type="text" placeholder="Enter the poll description" ng-model="description"/>
                </label>
            </div>
        </div>
        <div ng-app="myApp">
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Poll Type <small>required</small>
                        <select id="pollType" name="pollType" ng-model="pollType">
                            <option value="">--Select Poll Type--</option>
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row" ng-show="(pollType=='private')">
                <div class="large-12 columns">
                    <label>
                        Groups' Names <small>required</small>
                        <input type="text" placeholder="Enter the names of groups" ng-model="groupNames"/>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <a href="#" class="button round" ng-disabled="(!(pollTitle && description && (pollType=='private') && groupNames) && !(pollTitle && description && (pollType=='public')))" ng-click="CreatePoll($event)">Create Poll</a>
                <a href="#" class="button radius round">Cancel</a>
            </div>
        </div>
    </div>

</form>
