<form>
    <div class="primary callout">
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Email Id
                    <input type="text" placeholder="Email Id" ng-model="userName" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>
                    Password
                    <input type="password" placeholder="Password" ng-model="password" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <a href="#" class="button round" ng-disabled="!(userName && password)" ng-click="Login($event)">Login</a>
                <a href="#" class="button radius round">Cancel</a>
            </div>
        </div>
    </div>
    
</form>
